/* navBar */
.nav-shadow{
    z-index:5;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    }
    
    .nav-underline{
      border-bottom: 5px solid #1D3944;
    }
    .nav-underline-hover{
      border-bottom: 0px solid #1D3944;
      
      transition: border-bottom 0.1s;
    }
    .nav-underline-hover:hover{
      border-bottom: 5px solid #1D3944;
    }
    
    @media only screen and (max-width: 600px) {
      .logo{
        width: 50%;
      }
      }

      
/* content */

/* 
.panel{
    
    margin-bottom: 50px;
    
} */
/* .panel-margin{
    height: 165px;
    z-index: 4;
    background-color: rgb(255, 255, 255);
} */

/* .row{
    
    background-color: rgb(216, 10, 10);
    border-radius: 17px;
} */


/* html {
  height: 100vh;
} */


/* ///////// */

/* .scroll-p{
  font-size: 12px;
} */
.scroll-downs {
  position: fixed;
  top: 0;
  right: 0;
  /* bottom:0 ; */
  left: 0;
  
  margin: auto;
  margin-top: 150px;
  z-index: 5;
  width :328px;
  height: 35px;
  border-radius: 5px;
  background-color: #1D3944;

}
@media(max-width:769px){
  .scroll-downs {
    position: fixed;
    top: 0;
    right: 0;
    /* bottom:0 ; */
    left: 0;
    
    margin: auto;
    margin-top: 80px;
    z-index: 5;
    width :328px;
    height: 35px;
    border-radius: 5px;
    background-color: #1D3944;
  
  }
}
.mousey {
  background-color:black;
  width: 2px;
  padding: 9px 15px;
  height: 27px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 7px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.scroll-downs {
  animation: cssAnimation 0s 3s forwards;
  visibility: visible;
}

@keyframes cssAnimation {
  to   { visibility: hidden; }
}


/* {
   justify-content: center;
   display: flex;
} */



 /* ////////////// */
 .flip-card {
  border-radius:20px;

   margin-left: auto;
   margin-right: auto;
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
}
.cardImg{
  border-radius:20px;
  width:500px;
  height:500px;
}

@media(max-width:1400px){
  .flip-card {
    border-radius:20px;
  
     margin-left: auto;
     margin-right: auto;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }
  .cardImg{
    border-radius:20px;
    width:400px;
    height:400px;
  }
  
}
@media(max-width:993px){
  .flip-card {
    border-radius:20px;
  
     margin-left: auto;
     margin-right: auto;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .cardImg{
    border-radius:20px;
    width:300px;
    height:300px;
  }
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius:20px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media(max-width:992px){
.flip-card-front, .flip-card-back p{
  font-size: 12px;
}
}
.flip-card-front {
  border-radius:20px;
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  border-radius:20px;
  background-color: #3b3b3b;
  color: white;
  transform: rotateY(180deg);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
  margin-top: 250px;
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
