.display{
  display: block;
}
@media only screen and (max-width: 1400px) {
  .display{
    display: none;
  } 
  .col-xl-8 {
    flex: 0 0 auto;
    width: 100%;
}
  }
/* navBar */
.nav-shadow{
 z-index: 5;
background: #ffffff;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.nav-underline{
  border-bottom: 5px solid #1D3944;
}
.nav-underline-hover{
  border-bottom: 0px solid #1D3944;
  
  transition: border-bottom 0.1s;
}
.nav-underline-hover:hover{
  border-bottom: 5px solid #1D3944;
}

@media only screen and (max-width: 600px) {
  .logo{
    width: 50%;
  }
  }


/* about page animation */
*{
    
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .index header{
    margin-top: 80px;
} */

/* .index .slider{
    position: absolute;
    top: 16vw;
    left:0;
    width:100%;
    height:100vh;
    background: linear-gradient(15deg, #ffca0a, #ffa559, #ff8d9e, #ff91db, #d5a4ff);
    z-index: -1;
} */

.index section{
  background-color: #3d3a4b;

    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.index .frontimg{

    height: 80%;
    width: 100%;
}

.index .frontimg img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* .index .headline {
    position: absolute;
    top: 70%;
    left:10%;
    font-size: 100px;
    transform: translate(5%,-70%);
    color: white;
    z-index: 3;
} */

@media only screen and (max-width: 600px) {
  .index .headline {
        max-width: 70%;
        font-size: 40px;
        transform: translate(-0%,-20%);
    }
    
  }
  /* meta */
  .metaImg{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .metaImg:hover{
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .metaImg img{
    border-radius: 50px;
  }
  @media only screen and (max-width: 768px) {
  .metaImg {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
  }
  .metaImg img{
    border-radius: 23px;
  }
}
  /* row 1 card 1 and card 2 */
  .card1{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-radius: 45px;
  }
  .card1:hover{
  
    background-color: #4b4b4b;
  }
  .card2{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-radius: 45px;
  }
  .calenderImg{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .card2:hover{
  
    background-color: #4b4b4b;
  }
  .locationText{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 226px;
  }
  .locationText2{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 277px;
  }
  .locationImg{
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .clockText{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 221px;
  }
  .clockText2{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 301px;
  }
  .clockText3{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 203px;
  }
  .clockText4{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 283px;
  }
  .clockImg{
    width: 27%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (max-width: 768px) {
    .cont{
      padding:0 40px;
    }
  }
  /* row 2 card 3 and card 4 */
  .card3{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 7% 0;
    background-color: #3d3a4b;
    border-radius: 45px;
  }
  .card3:hover{
  
    background-color: #312e41;
  }
  .card4{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 7% 0;
    background-color: #BABFD1;
    border-radius: 45px;
  }
  .card4:hover{
  
    background-color: #a4aac4;
  }
  .socialImg{
    height:104px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .socialImgMobile{
    /* height:104px; */
    width: 21%;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (max-width: 768px) {

  .card4{
    
    padding: 9% 9%;
   
  }
}

/* row 3 card 5 */
.card5{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 5% 0;
    background-color: #BABFD1;
    border-radius: 45px;
}
.card5:hover{
  
  background-color: #9ea5c0;
  cursor: pointer;
}
.pastevent{
  font-size:150px;
  color: #b48b7d;
}
.arrow{
  width: 113px;
  height: auto;
}

@media only screen and (max-width: 1400px) {
  .socialImg{
    height:79px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .pastevent{
    font-size:96px;
    color: #b48b7d;
  }
  .arrow{
    width: 113px;
    height: auto;
  }
  }
  @media only screen and (max-width: 1200px) {
    .socialImg{
      height:74px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 988px) {
    .socialImg{
      height:66px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    /* .cont{
      padding:0 40px;
    } */
    .socialImg{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .pastevent{
      font-size:60px;
      color: #b48b7d;
    }
    .arrow{
      width: 68px;
      height: auto;
    }
    }
    @media only screen and (max-width: 415px) {
      .cont{
        padding:0 40px;
      }
      .socialImg{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
      .pastevent{
        font-size:38px;
        color: #b48b7d;
      }
      .arrow{
        width: 44px;
        height: auto;
      }
      }
   
/* row4 card 6 and card 7 */
  
.card6{
  padding: 6% 0;
  position: relative;
  width: 100%;
  background-color: #0F0F0F;
  border-radius: 45px;
}
.card6:hover{

  background-color: #222222;
}
/* .card7{
  padding: 0 0px;
  position: relative;
  width: 100%;
  padding-top: 87%;
  background-color: #363636;
  border-radius: 45px;
}
.card7:hover{

  background-color: #4b4b4b;
}
.card7content{
  width:100%;
  height: auto;
} */
.sapImg{
 width:430px;
 height:auto;
 border-radius: 45px;
}
.tedxHeading6{
  color:#FBFBFB;
  font-size: 69px;
  padding:0 72px;
 
 }
 .tedxPara6{
   color:#FBFBFB;
   font-size: 24px;
   padding:0 72px;
 }
@media only screen and (max-width: 768px) {

.card7{
  
  padding-top: 40%;
 
}
}
@media only screen and (max-width: 1000px) {
  .tedxHeading6{
    color:#FBFBFB;
    font-size: 55px;
    padding:0 72px;
   
   }
   .tedxPara6{
     color:#FBFBFB;
     font-size: 22px;
     padding:0 72px;
   }
  }
  @media only screen and (max-width: 566px) {
    .tedxHeading6{
      color:#FBFBFB;
      font-size: 46px;
      padding:0 42px;
     
     }
     .tedxPara6{
       color:#FBFBFB;
       font-size: 17px;
       padding:0 42px;
     }
    }
    @media only screen and (max-width: 400px) {
      .tedxHeading6{
        color:#FBFBFB;
        font-size: 36px;
        padding:0 42px;
       
       }
       .tedxPara6{
         color:#FBFBFB;
         font-size: 13px;
         padding:0 42px;
       }
      }


/* row 5 card 8 */
.card8{
  padding: 5px;
  position: relative;
  width: 100%;
  padding: 3% 0;
  background-color: #FECDAA;
  border-radius: 45px;
}
.card8:hover{

background-color: #fabc90;
cursor: pointer;
}
.bitsathyHeading{
 color:#F8FFF4;
 font-size: 69px;
 padding:0 72px;

}
.bitsathyPara{
  color:#F8FFF4;
  font-size: 24px;
  padding:0 72px;
}
@media only screen and (max-width: 1000px) {
  .bitsathyHeading{
    color:#F8FFF4;
    font-size: 55px;
    padding:0 72px;
   
   }
   .bitsathyPara{
     color:#F8FFF4;
     font-size: 22px;
     padding:0 72px;
   }
  }
  @media only screen and (max-width: 566px) {
    .bitsathyHeading{
      color:#F8FFF4;
      font-size: 46px;
      padding:0 42px;
     
     }
     .bitsathyPara{
       color:#F8FFF4;
       font-size: 17px;
       padding:0 42px;
     }
    }
    @media only screen and (max-width: 400px) {
      .bitsathyHeading{
        color:#F8FFF4;
        font-size: 36px;
        padding:0 42px;
       
       }
       .bitsathyPara{
         color:#F8FFF4;
         font-size: 13px;
         padding:0 42px;
       }
      }

  /* row 2 card 3 and card 4 */
  .card9{
    padding: 5px;
    position: relative;
    width: 100%;
    padding-top: 87%;
    background-color: #363636;
    border-radius: 45px;
  }
  .card9:hover{
  
    background-color: #4b4b4b;
  }
  .card10{
    padding: 5px;
    position: relative;
    width: 100%;
    padding-top: 43%;
    background-color: #363636;
    border-radius: 45px;
  }
  .card10:hover{
  
    background-color: #4b4b4b;
  }
  @media only screen and (max-width: 768px) {

  .card9{
    
    padding-top: 87%;
   
  }
}


.fade {

  opacity: 1;
}









/* ///////////team-heading//////////// */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
} */
.img-container {
  
  position: relative;
  /* text-align: center; */
  color: white;

}
.team-heading h1 {
  position: absolute !important;
    bottom: 44%;
    right: 6%;
    /* width:100px; */
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  /* text-transform: uppercase; */
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}
@media(max-width:992px){
  .team-heading h1 {
    bottom: 41%;
    right: 0%;
    width:413px;
  }
}
@media(max-width:768px){
  .team-heading h1 {
    bottom: 37%;
    right: 0%;
    line-height: 2.5;
    font-size: 30px;
    width: 295px;
  }
  .team-heading .message {
    /* background-color: yellow; */
    color: #333;
    
    left: 80px !important;
    animation: openclose 5s ease-in-out infinite;
  }
}
@media(max-width:440px){
  .team-heading h1 {
    bottom: 40%;
    right: 0%;
    line-height: 1.5;
    font-size: 24px;
    width: 246px;
  }
  .team-heading .message {
    /* background-color: yellow; */
    color: #333;
    
    left: 64px !important;
    animation: openclose 5s ease-in-out infinite;
  }
}
@media(max-width:320px){
  .team-heading h1 {
    bottom: 31%;
    right: 0%;
    line-height: 3.5;
    font-size: 20px;
    width: 186px;
  }
  .team-heading .message {
    /* background-color: yellow; */
    color: #333;
    
    left: 50px !important;
    animation: openclose 5s ease-in-out infinite;
  }
}
/* h1 span {
  font-size: 40px;
  margin-left: 40px;
} */

.team-heading .message {
  /* background-color: yellow; */
  color: #333;
  width: 200px;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 131px;
  animation: openclose 5s ease-in-out infinite;
}

.team-heading .word1{
  font-family: tahoma;
  color:red;
}
.team-heading .word2{
  font-family: tahoma;
  color:#1D3944;
}
.team-heading .word3 {
  font-family: tahoma;
  color: rgb(255, 166, 0);
}
.team-heading .word4 {
  font-family: tahoma;
  color: #5eff00;
}
.team-heading .word5 {
  font-family: tahoma;
  color: #a200ff;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 290px;
  }
  62% {
    top: -4.5rem;
    width: 290px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
/*  team comtent 1*/


.bottom-left {
  position: absolute;
  
  bottom: 43%;
  right: 40%;
  color: #363636;
  font-weight: 800;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
:root {
    --font3: 'Roboto', sans-serif;
}

.h1,
h1 {
    font-size: 1.5rem;
}

.container-fluid {
    max-width: 1400px;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 1;
    border-radius: 1rem;
}

.img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 120px;
    height: auto;
    margin-top: 20px;
    padding: 1px;
    transition: transform .5s;
    filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.card h5 {
    overflow: hidden;
    height: 80px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
    color: black;
    text-decoration: none;
}

.role {
    color: #7a7a7a;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab {
    font-size: 1.5rem;
    color: darkgray;
    transition: transform .5s;
}

.fab:hover {
    color: black;
    transform: scale(1.1);
}

.card h2 {
    font-size: 1rem;
}


/* MEDIA */

@media only screen and (min-width: 1200px) {
    .img-hover-zoom--colorize img {
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 2rem;
    }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
  margin-top: 250px;

  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
